.idea/
.git/
.circleci/
.github/
bootstrap/cache/*
storage/app/*
storage/framework/cache/*
storage/framework/testing/*
storage/logs/*
.styleci.yml
phpunit.xml
README.md
.editorconfig
.env.example
.gitattributes
.gitignore
aaaa.md
.dockerignore
Dockerfile
